.playlist-box {
  border: 1px solid black;
  width: 300px;
  background: #212121;
  color: white;
  border-radius: 0.5rem;
  position: absolute;
  z-index: 2;
  position: fixed;
  left: 40%;
  top: 40%;
}

.playlist-box .card-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
}

.playlist-box .card-heading {
  margin: 0;
}

.playlist-box .card-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.6rem;
  padding: 0.5rem 0.8rem;
}

.playlist-box .card-input {
  padding: 0.4rem 0.5rem;
  background-color: transparent;
  border: 1px solid gray;
  outline: none;
  color: white;
}

.playlist-box .card-button {
  border: 0;
  padding: 0.4rem;
  background-color: #383838;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  border-radius: 0.3rem;
}

.playlist-box .card-playlist-name {
  list-style: none;
}

.playlist-box .card-footer {
  padding: 0.4rem;
}

.playlist-box .error-msg {
  color: "red";
}
