.thumbnail-card {
  width: fit-content;
  /* border: 1px solid gray; */
  height: fit-content;
  padding-bottom: 1rem;
  border-radius: 0.5rem;
}

.thumbnail-card .card-head {
  position: relative;
}

.thumbnail-card .thumbnail {
  object-fit: contain;
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* temporary */

.thumbnail-card ul {
  border: 1px solid gray;
  color: white;
  padding-inline-start: 0;
  list-style: none;
  position: absolute;
  z-index: 1;
  bottom: 2rem;
  background-color: #202020;
  border-radius: 0.2rem;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.thumbnail-card li {
  padding: 0.1rem 0.8rem;
  font-size: 0.8rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.3rem 1rem;
}

.thumbnail-card li:hover {
  background-color: #383838;
  cursor: pointer;
}

.thumbnail-card .channel-icon {
  border-radius: 50%;
  width: 2.2rem;
}

.thumbnail-card .card-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem;
}

.thumbnail-card h5 {
  margin: 0;
  color: white;
}

.thumbnail-card .card-actions {
  position: absolute;
  display: flex;
  gap: 0.2rem;
  background-color: #212121;
  padding: 0.2rem 0;
  bottom: -1rem;
  right: 0.5rem;
}

.thumbnail-card .links {
  text-decoration: none;
}
