.main-container {
  padding: 0.5rem;
  /* display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: flex-start; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  position: relative;
}
